<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Medicine Details</title>

    <!-- Include Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>

 

<div class="container">

    <h1>Medicine Deatils</h1>

    <br>

    <table class="table table-striped">

        <thead>

            <tr>

                <th>Medicine ID</th>

                <th>Medicine Name</th>

                <th>Category ID</th>

                <th>Expiry Date</th>

                <th>Stock lvl</th>

                <th>Prize</th>

                <!-- <th>Action</th> -->

            </tr>

        </thead>

        <tbody>

            <tr *ngFor="let m of medicinedetails">

                <td>{{m.id}}</td>

                <td>{{m.mediname}}</td>

                <td>{{m.categoryid}}</td>

                <td>{{m.expirydate}}</td>

                <td>{{m.stocklvl}}</td>

                <td>{{m.prize}}</td>

                <td>

                    <button class="btn btn-danger" (click)="deleteMed(m.id)">Delete</button>

                    <!-- <button class="btn btn-danger" (click)="deleteMed(m.medicineId)">Delete</button> -->

                </td>

            </tr>

        </tbody>

    </table>

    <br>

    <span>{{errors}}</span>

</div>


 